{% extends 'layout.html' %}
{% block title %}CHOROLIN TECKET COUNTER{% endblock title %}
{% block body %}
  
<div class="container pt-3">
  <div class="row d-flex justify-content-between">
      <div class="col-lg-5">
          <div class="d-flex flex-column">
              <h5 class="text-dark fw-bold">CHOROLIN TECKET COUNTER</h5>
              <div class="d-flex align-items-center">
                  <a href="i00ndex.html" class="btn btn-dark fw-bold mx-1">Sports</a>
                  <a href="bus.html" class="btn btn-primary fw-bold mx-1">Bus</a>
                  <a href="train.html" class="btn btn-primary fw-bold mx-1">train</a>

              </div>
          </div>
      </div>
      <div class="col-lg-5">
         <div class="d-flex align-items-center">
          <p class="text-danger fw-bold m-0 fs-8">Help</p>
          <input type="text" placeholder="English (us) $USD" class=" form-control bg-gray rounded-3 border-0 mx-2 fs-6 w-50 py-3">
      <div class="btn btn-gray text-primary fw-bold rounded-3 py-1"><a href="#"> Log in</a></div>

          
         </div> 
      </div>
  </div>
</div>
<div class ="sportImg d-none d-md-flex d-xl-flex flex-column">
  <h1 class="text-white fw-bold" style=" font-size: 55px; padding: 7% 0 2% 16%;">Let the show begin</h1>
  <div class="container-fluid" style="padding-bottom: 22%;">
      <div class="row">
          <div class="col-lg-2 col-md-4"></div>
          <div class="col-lg-8 col-md-12 bg-blue p-4 rounded-1">
              <div class="d-flex flex-column">
                  <div class="d-flex align-items-center text-white fw-bold ">
                      <div class="form-check">
                          <input class="form-check-input p-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                          <label class="form-check-label  fw-bold" for="flexRadioDefault1">
                            Cricket
                          </label>
                        </div>
                        <div class="form-check mx-4">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                          <label class="form-check-label  fw-bold" for="flexRadioDefault2">
                            Football
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
                          <label class="form-check-label  fw-bold" for="flexRadioDefault3">
                             Hockey
                          </label>
                        </div>

                  </div>
                  <form method="post" action="{% url 'ticket' %}">
                    {% csrf_token %}
                    <div class="d-flex align-items-center py-2 gap-4">
                            <div>
                              <label for="city_name" class="form-label mb-0 text-white">City</label>
                              <input class="form-control" list="datalistOptions1" name="city_name" id="datalistOptions" placeholder="Type to search...">
                              <datalist id="datalistOptions1">
                                  <option value="Dhaka">
                                  <option value="Rangpur">
                                  <option value="Shylet">
                                  <option value="Chittagong">
                                  <option value="Rajhshahi">
                                  <option value="Mymensingh">
                                  <option value="Kumilla">
                                  <option value="Borishal">                              
                                </datalist>
                            </div>
                            <div>
                                <label for="stadium_name" class="form-label mb-0 text-white">Stadium</label>
                                <input name="stadium_name" class="form-control" list="datalistOptions2" id="exampleDataList" placeholder="Type to search...">
                                <datalist id="datalistOptions2">
                                  <option value="Sher-e Bangla Stadium">
                                  <option value="Bongobondhu national stadium">
                                  <option value="M.A. Aziz Stadium">
                                  <option value="A.K monsur Ali Stadium">   
                                </datalist>
                            </div> 
                            <div>
                                <label for="match_date" class="form-lebel mb-0 text-white fs-8 fw-bold">Match Date</label>
                                <input name="match_date" type="date" class="form-control">
                            </div>
                            <!-- <div>
                                <label for="exampleDataList" class="form-label mb-0 text-white">No.Person</label>
                                <input class="form-control" list="datalistOptions2" id="exampleDataList" placeholder="Type to search...">
                                <datalist id="datalistOptions2">
                                  <option value="1">
                                  <option value="2">
                                  <option value="3">
                                  <option value="4">
                  
                                </datalist>
                            </div>  -->
                            <div>
                                <!-- <label for='ticket_class' class="form-lebel mb-0 text-white fs-8 fw-bold">Ticket class</label>
                                <select  name="ticket_class" class="form-select">
                                      <option selected>Select Your Class</option>
                                      <option value="1">Grand Stand</option>
                                      <option value="2">Economy</option>
                                      <option value="3">V.I.P Gallery</option>
                                  </select> -->
                                
                            </div>    
                        </div> 
                        <div class="btn btn-dark fs-5 fw-bold text-white"> <button type="submit">Search Your Ticket</button></div>
                      </form>
                    <!-- <div class="d-flex align-items-center justify-content-between pt-2">
                        <div class="d-flex flex-column text-light">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"  checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                  AGREE
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                  DISAGREE
                                </label>
                              </div>
                        </div>  -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>



{% endblock body %}

